@inherits UmbracoViewPage<BlogModel>
@{
    Layout = "Layout.cshtml";
}

<div id="fh5co-blog-section">
    <div class="container">
        @{Html.RenderPartial("~/Views/Partials/SiteLayout/_TitleControl.cshtml", Model);}
        @{Html.RenderPartial("~/Views/Partials/Blog/_BlogList.cshtml", Model.BlogItems != null ? Model.BlogItems.Value : null);}
    </div>
</div>