<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1083" key="d49f901d-4fc8-447f-a991-4389cda514cf" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-04-05T16:01:34" updateDate="2017-04-05T16:01:34" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1081" creatorName="thien.tt" writerName="thien.tt" writerID="0" template="1082" nodeTypeAlias="home" />
</root>